body{
  height: 100vh;
  background-image: linear-gradient(to bottom right, #56d177, #ede542, #f76345, #f06b42, #d12f13);
  background-repeat: no-repeat;
  margin: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main{
  height: 600px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.start-info{
  height: 50px;
  width: 210px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
#start{
  height: 40px;
  width: 85px;
  background-image: linear-gradient(-225deg, #7656cc 0%, #8877a7 100%);
  color: white;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
}
p{
  margin: auto;
}
.info{
  display: flex;
  flex-direction: column;
  font: normal normal bold 18px/22px Verdana, Geneva, Tahoma, sans-serif;
  color: purple;

}

.card-box {
    height: 500px;
    width: 500px;

    background-image: linear-gradient(to bottom right, #d12f13, #ed6851, #f78f20, #ede542, #56d177);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    row-gap: 25px;
    column-gap: 25px;
    padding: 25px 0px 0px 25px
}

.card {
  height: 100px;
  width: 100px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  border-radius: 5px;
  background-image: linear-gradient(-225deg, #9a82db 0%, #7b54c5 100%);
  cursor: pointer;
}

.card:active {
  transition: transform 0.2s;
}

.card.flip {
  transform: rotate3d(1, 1, 0, -180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back {
  transform: rotate3d(1, 1, 0, -180deg);
}

